<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://localhost:8080/css/addNew.css" />

    <title>Document</title>
  </head>
  <body>
    <%- include('header.ejs'); -%>
    <div class="container-form">
      <div class="orchid-add-form">
        <div class="Title">Update Games Information</div>
        <form
          method="POST"
          enctype="multipart/form-data"
          onsubmit="updateOrchid(event)"
          id="orchidForm"
        >
          <!--- Images-->
          <div>
            <div style="display: flex; flex-direction: column; gap: 20px">
              <input
                type="file"
                accept="image/gif, image/jpeg, image/png"
                name="image"
                id="file"
                style="display: none"
                onchange="loadAndUploadFile(event)"
              />
              <div><p>Upload for images</p></div>
              <div class="fileUpload">
                <label for="file" style="cursor: pointer">
                  <img
                    src="https://www.svgrepo.com/show/309379/camera-add.svg"
                    width="50px"
                    height="50px"
                    class="input-icon"
                  />
                </label>
                <div class="fileResult">
                  <img id="output" src="<%= data.image%>" />
                </div>
              </div>
            </div>
          </div>

          <!-- Back ground Images -->
          <div>
            <div style="display: flex; flex-direction: column; gap: 20px">
              <input
                type="file"
                accept="image/gif, image/jpeg, image/png"
                name="image"
                id="file-background"
                style="display: none"
                onchange="loadAndUploadFileBackground(event)"
              />
              <div><p>Upload for Background images</p></div>
              <div class="fileUpload">
                <label for="file-background" style="cursor: pointer">
                  <img
                    src="https://www.svgrepo.com/show/309379/camera-add.svg"
                    width="50px"
                    height="50px"
                    class="input-icon"
                  />
                </label>
                <div class="fileResult">
                  <img id="background" src="<%= data.background%>" />
                </div>
              </div>
            </div>
          </div>

          <!-- Name -->
          <div>
            <label> Name </label>
            <input type="text" name="name" value="<%=data.name%>" />
          </div>
          <!-- Image -->
          <!-- <div>
            <label> Images </label>
            <div style="display: flex; gap: 20px">
              <input type="text" name="image" value="<%= data.image%>" />
              <img
                src="<%= data.image%>"
                style="width: 110px; height: 50px; border-radius: 10px"
              />
            </div>
          </div> -->
          <!-- Back ground Images -->
          <!-- <div>
            <label>Back ground</label>
            <div  style="display: flex; gap: 20px">
              <input
                type="text"
                name="background"
                value="<%= data.background%>"
              />
              <img
              src="<%= data.background%>"
              style="width: 110px; height: 50px; border-radius: 10px"
            />
            </div>
          </div> -->
          <!-- Nation -->
          <div>
            <label>Nation</label>
            <input type="text" name="nation" value="<%= data.nation%>" />
          </div>
          <!-- RealseDate -->
          <div>
            <label>release_date</label>
            <input
              type="date"
              name="release_date"
              value="<%= data.release_date%>"
            />
          </div>
          <!-- revenue -->
          <div>
            <label>revenue</label>
            <input
              type="text"
              name="revenue"
              value="<%= data.revenue%>"
              pattern="\d+"
              oninput="setCustomValidity('')"
              oninvalid="setCustomValidity('Please enter a valid number')"
            />
          </div>
          <!-- rating -->
          <div>
            <label>rating</label>
            <input
              type="text"
              name="rating"
              value="<%= data.rating%>"
              pattern="\d+"
              oninput="setCustomValidity('')"
              oninvalid="setCustomValidity('Please enter a valid number')"
            />
          </div>
          <!-- development -->
          <div>
            <label>development</label>
            <input
              type="text"
              name="development"
              value="<%= data.development%>"
            />
          </div>
          <!---category -->
          <div
            class="category-input"
            style="display: flex; flex-direction: column"
          >
            <label>Category</label>
            <select name="category" id="category">
              <option value="<%=data.category._id%>">
                <%= data.category.name%>
              </option>
            </select>
          </div>
          <div>
            <input type="hidden" />
          </div>
          <div style="display: flex; gap: 30px">
            <button type="submit" style="width: 100px">Update</button>

            <button
              style="
                width: 100px;
                background-color: #878484;
                border-color: azure;
                color: white;
              "
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      let fileURL = "<%= data.image%>";
      let fileURLBackGround = "<%= data.background%>";
      async function loadAndUploadFileBackground(event) {
        const fileInput = event.target;
        const file = fileInput.files[0];
        if (file) {
          const formData = new FormData();
          formData.append("file", file);
          await fetch("http://localhost:8080/api/upload", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                // Handle successful upload
                console.log(
                  "File uploaded successfully from background:",
                  data.data
                );

                // Optionally, update the image source with the uploaded image URL
                const outputImage = document.getElementById("background");
                outputImage.src = data.data.fileUrl;
                fileURLBackGround = data.data.fileUrl;
              } else {
                // Handle upload failure
                console.error("File upload failed:", data);
              }
            })
            .catch((error) => {
              // Handle network or other errors
              console.error("Error during file upload:", error);
            });
        }
      }

      async function loadAndUploadFile(event) {
        const fileInput = event.target;
        const file = fileInput.files[0];

        if (file) {
          const formData = new FormData();
          formData.append("file", file);

          await fetch("http://localhost:8080/api/upload", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                // Handle successful upload
                console.log("File uploaded successfully:", data.data);

                // Optionally, update the image source with the uploaded image URL
                const outputImage = document.getElementById("output");
                outputImage.src = data.data.fileUrl;
                fileURL = data.data.fileUrl;
              } else {
                // Handle upload failure
                console.error("File upload failed:", data);
              }
            })
            .catch((error) => {
              // Handle network or other errors
              console.error("Error during file upload:", error);
            });
        }
      }
      async function updateOrchid(event) {
        event.preventDefault();
        const form = document.getElementById("orchidForm");
        const formData = {
          name: form.elements["name"].value,
          image: fileURL,
          background: fileURLBackGround,
          nation: form.elements["nation"].value,
          release_date: form.elements["release_date"].value,
          revenue: form.elements["revenue"].value,
          rating: form.elements["rating"].value,
          development: form.elements["development"].value,
          category: form.elements["category"].value,
        };
        try {
          // Make a POST request to your backend API
          const response = await fetch(
            "http://localhost:8080/api/orchids/<%=data.slug%>",
            {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
              },

              body: JSON.stringify(formData),
            }
          );

          if (response.ok) {
            redirectToDashBoard();
            setTimeout(() => {
              showUpdateSuccessToast();
            }, 500);
          } else {
            showFailedToast();
            console.error("Failed to add orchid:", response.statusText);
          }
        } catch (error) {
          console.error("Error:", error.message);
        }
      }

      function redirectToDashBoard() {
        $.ajax({
          type: "GET",
          url: "/dashboard",
          success: function (response) {
            // Replace the content of a specific container with the loaded content
            document.open();
            document.write(response);
            document.close();

            // Update the URL in the address bar
            var newUrl =
              window.location.protocol +
              "//" +
              window.location.host +
              "/dashboard";
            window.history.pushState({ path: newUrl }, "", newUrl);
          },
          error: function () {
            console.log("Error loading home page");
          },
        });
      }
      function showUpdateSuccessToast() {
        var x = document.getElementById("snackbar-success-update");
        x.className = "show";
        setTimeout(function () {
          x.className = x.className.replace("show", "");
        }, 3000);
      }
      function showFailedToast() {
        var x = document.getElementById("snackbar-failed");
        x.className = "show";
        setTimeout(function () {
          x.className = x.className.replace("show", "");
        }, 3000);
      }
    </script>
  </body>
</html>
